In [8]:
import MetaTrader5 as mt5
import os
from dotenv import load_dotenv, find_dotenv
import pandas as pd

In [9]:
if mt5.initialize(
            path=os.getenv("MT5_PATH"),
            login=int(os.getenv("MT5_LOGIN")),
            password=os.getenv("MT5_PASSWORD"),
            server=os.getenv("MT5_SERVER"),
            timeout=int(os.getenv("MT5_TIMEOUT")),
            portable=eval(os.getenv("MT5_PORTABLE"))):

            print("mt5 opened successfully!")

mt5 opened successfully!

In [10]:
symbol = "EURUSD"
tf = mt5.TIMEFRAME_H2
from_position = 1
num_bars = 1

bars = pd.DataFrame(mt5.copy_rates_from_pos(symbol,tf,from_position,num_bars))
bars['time'] = pd.to_datetime(bars['time'],unit='s')
bars

,time,open,high,low,close,tick_volume,spread,real_volume
0,2025-02-21 20:00:00,1.04628,1.0468,1.04507,1.04622,5414,2,0

In [11]:
bars.iloc[-1]

time           2025-02-21 20:00:00
open                       1.04628
high                        1.0468
low                        1.04507
close                      1.04622
tick_volume                   5414
spread                           2
real_volume                      0
Name: 0, dtype: object

In [12]:
tick = mt5.symbol_info_tick("EURUSD")._asdict()
tick

{'time': 1740357393,
 'bid': 1.04653,
 'ask': 1.04683,
 'last': 0.0,
 'volume': 0,
 'time_msc': 1740357393518,
 'flags': 1030,
 'volume_real': 0.0}

In [21]:
def get_latest_tick(symbol: str) -> dict:
    try:
        tick = mt5.symbol_info_tick(symbol)
        if tick is None:
            print(f"Unable to retrieve data for symbol {symbol}.")
            return {}  # Se devuelve aqu√≠ si no hay datos
        return tick._asdict()  # Solo se ejecuta si tick no es None
    except Exception as e:
        print(f"Something went wrong while retrieving the latest tick for {symbol}: {e}")
        return {}

In [23]:
last_tick = get_latest_tick("EURUSD")
last_tick

{'time': 1740357919,
 'bid': 1.04718,
 'ask': 1.04748,
 'last': 0.0,
 'volume': 0,
 'time_msc': 1740357919167,
 'flags': 1030,
 'volume_real': 0.0}